<p>sign-in works!</p>
<section>
  <form [formGroup]="signInFormGroup">
    <mat-form-field appearance="outline">
      <input matInput type="text" class="input-field" placeholder="Enter username" formControlName="userName"/>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput type="text" class="input-field" placeholder="Enter password" formControlName="password"/>
    </mat-form-field>

    <button mat-button (click)="submit()">
      Submit
    </button>
  </form>
</section>
